flows.json
[{"id":"b0678e5a.ff19b","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"d2944ba9.fb9358","type":"ibmiot in","z":"b0678e5a.ff19b","authentication":"apiKey","apiKey":"ee7f2491.e4f828","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"8335","applicationId":"","deviceType":"vitdevice","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":true,"qos":0,"x":90,"y":120,"wires":[["1acfdca3.f970f3","7707cfa2.280a3","50a94d70.86a584","9c97b25d.7fccd","83609ada.0b8cc8","733029fb.088788"]]},{"id":"1acfdca3.f970f3","type":"debug","z":"b0678e5a.ff19b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":80,"wires":[]},{"id":"ff389dd6.ce73d","type":"http in","z":"b0678e5a.ff19b","name":"","url":"/userinput","method":"get","upload":false,"swaggerDoc":"","x":420,"y":480,"wires":[["264d1453.0e102c","d784154c.d33e28","43d18143.d34a2","3e0aa8b2.330608","a51b01b.95bde","fcebcc97.2299b"]]},{"id":"264d1453.0e102c","type":"ibmiot out","z":"b0678e5a.ff19b","authentication":"apiKey","apiKey":"ee7f2491.e4f828","outputType":"cmd","deviceId":"8335","deviceType":"vitdevice","eventCommandType":"cmd","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":560,"y":380,"wires":[]},{"id":"d784154c.d33e28","type":"debug","z":"b0678e5a.ff19b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":600,"wires":[]},{"id":"7707cfa2.280a3","type":"cloudant out","z":"b0678e5a.ff19b","name":"","cloudant":"","database":"mploy","service":"node-red-cpfxy-2021--cloudant-1625991877747-7700","payonly":false,"operation":"insert","x":590,"y":120,"wires":[]},{"id":"3e0aa8b2.330608","type":"function","z":"b0678e5a.ff19b","name":"data","func":"msg.payload= {\"location\": global.get('l')}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":540,"wires":[["43d18143.d34a2"]]},{"id":"43d18143.d34a2","type":"http response","z":"b0678e5a.ff19b","name":"tracker","statusCode":"","headers":{},"x":950,"y":500,"wires":[]},{"id":"d1c997bc.b43d78","type":"geofence","z":"b0678e5a.ff19b","name":"","mode":"polyline","inside":"both","rad":0,"points":[{"latitude":22.553727610479342,"longitude":88.36501631147257},{"latitude":22.55563989866774,"longitude":88.36501631147257},{"latitude":22.55563989866774,"longitude":88.36618575460307},{"latitude":22.553727610479342,"longitude":88.36618575460307}],"centre":{},"floor":"","ceiling":"","worldmap":false,"outputs":1,"x":120,"y":300,"wires":[["567f2b05.ba48e4"]]},{"id":"f1a6155b.cf5f08","type":"ui_text","z":"b0678e5a.ff19b","group":"be19bfc2.9fdc3","order":3,"width":0,"height":0,"name":"","label":"Employee name","format":"{{msg.payload}}","layout":"row-spread","x":780,"y":200,"wires":[]},{"id":"fcebcc97.2299b","type":"function","z":"b0678e5a.ff19b","name":"","func":"msg.payload = { \"id\": global.get('i')}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":480,"wires":[["43d18143.d34a2"]]},{"id":"a51b01b.95bde","type":"function","z":"b0678e5a.ff19b","name":"","func":"msg.payload= {\"names\": global.get('n')};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":440,"wires":[["43d18143.d34a2"]]},{"id":"9c97b25d.7fccd","type":"function","z":"b0678e5a.ff19b","name":"","func":"msg.payload=msg.payload.names\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":220,"wires":[["f1a6155b.cf5f08","4a3d7717.ded218"]]},{"id":"733029fb.088788","type":"function","z":"b0678e5a.ff19b","name":"","func":"msg.payload=msg.payload.id\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":320,"wires":[["2a561e91.861d42"]]},{"id":"83609ada.0b8cc8","type":"function","z":"b0678e5a.ff19b","name":"","func":"msg.payload=msg.payload.Date_Time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":260,"wires":[["30d9db3.b4dad24"]]},{"id":"30d9db3.b4dad24","type":"ui_text","z":"b0678e5a.ff19b","group":"be19bfc2.9fdc3","order":2,"width":0,"height":0,"name":"","label":"Date_time","format":"{{msg.payload}}","layout":"row-spread","x":770,"y":260,"wires":[]},{"id":"2a561e91.861d42","type":"ui_text","z":"b0678e5a.ff19b","group":"be19bfc2.9fdc3","order":1,"width":0,"height":0,"name":"","label":"Employee id","format":"{{msg.payload}}","layout":"row-spread","x":770,"y":320,"wires":[]},{"id":"50a94d70.86a584","type":"function","z":"b0678e5a.ff19b","name":"","func":"global.set('la', msg.payload.lat)\nglobal.set('lo', msg.payload.lon)\nglobal.set('name', msg.payload.names)\nvar name = msg.payload.names\nvar lat = msg.payload.lat\nvar lon = msg.payload.lon\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":120,"y":180,"wires":[["845e683f.02bac8","d27c9a23.b7bc28"]]},{"id":"845e683f.02bac8","type":"function","z":"b0678e5a.ff19b","name":"","func":"var la = global.get('la')\nvar lo = global.get('lo')\nvar n = global.get('name')\nmsg.payload = {\n       \"name\":n,\n    \"lat\": la,\n    \"lon\": lo\n \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":140,"y":240,"wires":[["d1c997bc.b43d78","833aad7f.04dd3","d2b061fa.daf33"]]},{"id":"567f2b05.ba48e4","type":"function","z":"b0678e5a.ff19b","name":"","func":"msg.payload=msg.location.inarea\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":120,"y":380,"wires":[["c50194ec.2cd8d8","d02bfd6a.e3e0e"]]},{"id":"c50194ec.2cd8d8","type":"rbe","z":"b0678e5a.ff19b","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":110,"y":460,"wires":[["542d1ed7.88c38"]]},{"id":"542d1ed7.88c38","type":"switch","z":"b0678e5a.ff19b","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":110,"y":540,"wires":[["9c97b25d.7fccd","83609ada.0b8cc8","733029fb.088788"],[]]},{"id":"d27c9a23.b7bc28","type":"debug","z":"b0678e5a.ff19b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":350,"y":60,"wires":[]},{"id":"833aad7f.04dd3","type":"debug","z":"b0678e5a.ff19b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":160,"wires":[]},{"id":"4a3d7717.ded218","type":"http request","z":"b0678e5a.ff19b","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":160,"wires":[["8b601b4.4effbe8"]]},{"id":"8b601b4.4effbe8","type":"debug","z":"b0678e5a.ff19b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":160,"wires":[]},{"id":"d7b2165b.912d28","type":"inject","z":"b0678e5a.ff19b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":60,"wires":[["845e683f.02bac8"]]},{"id":"d02bfd6a.e3e0e","type":"debug","z":"b0678e5a.ff19b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":380,"y":400,"wires":[]},{"id":"d2b061fa.daf33","type":"worldmap","z":"b0678e5a.ff19b","name":"","lat":"","lon":"","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"false","showgrid":"false","allowFileDrop":"false","path":"/worldmap","x":390,"y":600,"wires":[]},{"id":"ee7f2491.e4f828","type":"ibmiot","name":"api iot","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"be19bfc2.9fdc3","type":"ui_group","name":"employeee","tab":"b754a199.cbdea","order":1,"disp":true,"width":"6","collapse":false},{"id":"b754a199.cbdea","type":"ui_tab","name":"EMPLYOEE","icon":"dashboard","order":5,"disabled":false,"hidden":false}]